/* @ Login Page things */

.login_shadowbox {
  background-color: #fff;
  border: none;
  border-radius: 0.825rem;
  box-shadow: 0 2px 0 rgba(138, 182, 231, 0.11),
    0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06),
    0 7px 70px rgba(90, 97, 105, 0.1);
  margin-top: 100px;
  width: 800px;
  height: 500px;
  margin-left: 250px;
  margin-right: 150px;
}

.C_design {
  background-color: #ff8a65;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  width: 800px;
  height: 500px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.login_shadowbox1 {
  border: none;
  border-radius: 0.825rem;
  margin-top: 20px;
  width: 300px;
  height: 400px;
  margin-left: 50px;
  margin-right: 15px;
  box-shadow: rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}

.h4_align {
  color: black;
  line-height: 1;
  margin-left: 15px;
  font-weight: bold;
  padding-top: 50px;

  text-align: center;
}
.D_design {
  border: none;
  border-radius: 0.3rem;
  margin-left: -1px;
  margin-right: 1px;

  width: 300px;
  height: 400px;
  background-color: #ffebee;
  /* opacity: 0.5; */
}

/* @ Login Page things */

.bg {
  background-color: rgb(248, 217, 194);
  padding-top: 50px;
  padding-bottom: 20px;
}

.iconDesign {
  padding-top: 5px;
  font-size: 70px;
  color: rgb(194, 162, 94);
  margin-left: 110px;
  margin-right: 50px;
  padding-left: 70px;
  padding-right: 10px;
  border-bottom: none;
  border-top: none;
  border-radius: 30px;
}

.App {
  text-align: center;
}

.About_shadow {
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  border-radius: 0.625rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* @ Product Description Page things */

/* @ Product List Page things */

.pr-page-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 300px;
}

.shadowbox {
  width: 180px;
  padding: 20px;
  /* border-radius: 40px; */
  margin: 20px;
  background-color: #fff;
  /* border: none; */
  /* border-radius: 0.625rem; */
  transition: all 0.3s ease-in-out 0s;

  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

.shadowbox:hover {
  /* transform: scale(1.03); */
  transform: scale(1.01);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

.btn1:hover {
  background-color: #8f7e7d;
}

/* .proheading {
  /* width: 28ch; */
/* animation: typing 4s steps(22), blink 0.1s step-end; */
/* white-space: nowrap; */
/* overflow: hidden; */
/* border-right: 3px solid; */
/* font-family: monospace;
  */
/* font-size: 3em; */
/* } */

.anim-line-1 {
  position: relative;
  top: 0;
  width: 24em;
  /* margin: 0 auto; */
  /* padding: 0 30px; */
  border-right: 2px solid black;
  /* font-size: 48px; */
  /* text-align: center; */
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease-in-out 0s;
  /* transform: translateX(20%); */
}

.anim-typewriter {
  animation: typewriter 4s steps(30) 1s 1 normal both,
    blinkTextCursor 500ms steps(5) infinite normal;
}

.anim-typewriter2 {
  animation: typewriter2 4s steps(20) 1s 1 normal both,
    blinkTextCursor 500ms steps(5) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 13.2em;
  }
}

@keyframes typewriter2 {
  from {
    width: 0;
  }
  to {
    width: 9em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: var(--red);
  }
  to {
    border-right-color: transparent;
  }
}

/* @keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */

.prolink {
  text-decoration: none;
  color: #f54749;
}

.prolink:hover {
  color: black;
}
