.heading4{
    text-align: center;
    padding-top: 40px;
}

.huel{
    height: 400px;
    width: 400px;
    margin-left: 70px;
}
.contant{
   padding-left: 140px;
}

.mb-2{
    margin-left: 350px;
   
}

.d-block{
    height: 500px;
}
/* .btn{
    margin-right: 50px;
} */

.selection{
    border-style: ridge;
    margin-top: 30px;
    margin-left: 30px;
}